<h4 class="menu-title">
  <%= link_to "Components", "/guidance/components/" %>
</h4>
<nav class="menu docs-menu">
  <% sitemap.resources.select { |resource| resource.data.categories == "components" }.each do |resource| %>
    <%= link_to resource.data.title, resource.url, :class => "menu-item" %>
  <% end %>
</nav>

<h4 class="menu-title">
  <%= link_to "Utilities", "/guidance/utilities/" %>
</h4>
<nav class="menu docs-menu">
  <a class="menu-item <%= "selected" if current_page.data.title == "Button" %>" href="{{ site.baseurl }}/components/button/">
    Button
  </a>
  <a class="menu-item <%= "selected" if current_page.data.title == "Card" %>" href="{{ site.baseurl }}/components/card/">
    Card
  </a>
  <span class="menu-item">
    Checkbox
  </span>
  <a class="menu-item <%= "selected" if current_page.data.title == "Heading" %>" href="{{ site.baseurl }}/components/heading/">
    Heading
  </a>
  <span class="menu-item">
    List
  </span>
  <a class="menu-item <%= "selected" if current_page.data.title == "NavBar" %>" href="{{ site.baseurl }}/components/navbar/">
    NavBar
  </a>
  <span class="menu-item">
    Notice
  </span>
  <span class="menu-item">
    RadioButton
  </span>
  <a class="menu-item <%= "selected" if current_page.data.title == "Segmented Control" %>" href="{{ site.baseurl }}/components/segmented-control/">
    Segmented Control
  </a>
  <a class="menu-item <%= "selected" if current_page.data.title == "Table" %>" href="{{ site.baseurl }}/components/table/">
    Table
  </a>
  <span class="menu-item">
    TableView
  </span>
  <span class="menu-item">
    Tabs
  </span>
  <span class="menu-item">
    TextArea
  </span>
  <span class="menu-item">
    TextInput
  </span>
  <% sitemap.resources.select { |resource| resource.data.categories == "utilities" }.each do |resource| %>
    <%= link_to resource.data.title, resource.url, :class => "menu-item" %>
  <% end %>
</nav>

<h4 class="menu-title">
  Guidance
</h4>
<nav class="menu docs-menu">
  <% sitemap.resources.select { |resource| resource.data.categories == "guidance" }.each do |resource| %>
    <%= link_to resource.data.title, resource.url, :class => "menu-item" %>
  <% end %>
</nav>
