---
layout: "home"
title: "Home"
---

<div class="Hero">
  <div class="Grid-row">
    <div class="Grid-col">
      <div class="u-padding-bottom--large u-padding-top--large">
        <div class="Hero-body">
          <p class="Hero-leader">
            The CSS that powers FreeAgent.
          </p>
          <p>
            Current build: <%= link_to "PROJECT_VERSION", "https://github.com/fac/origin/releases" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="u-padding-bottom--large u-padding-top--large">
  <div class="Grid-row">

    <div class="Grid-col md-4">
      <h2 class="Heading Heading--space--x-small Heading--x-large">
        <%= link_to "Utilities", "/guidance/utilities/" %>
      </h2>
      <p>
        The mixins and classes that underpin everything. Utilities mean our methods of writing CSS across applications is universal, as are the values.  
      </p>
    </div>

    <div class="Grid-col md-4">
      <h2 class="Heading Heading--space--x-small Heading--x-large">
        <%= link_to "Components", "/guidance/components/" %>
      </h2>
      <p>
        The building blocks of our interfaces. Self-contained, plug-and-play units that serve specific functions.
      </p>
    </div>

    <div class="Grid-col md-4">
      <h2 class="Heading Heading--space--x-small Heading--x-large">
        Guidance
      </h2>
      <p>
        Everything from our <%= link_to "broad principles", "/guidance/principles" %> through to the specifics of <%= link_to "code style", "/guidance/code-style/" %>, <%= link_to "naming-conventions", "/guidance/naming-conventions/" %>, and more.
      </p>
    </div>

  </div>
</div>
